:root {
	--color-black: #000;
    --color-white: #fff;
    --color-gray: #3c3c3c;
    --color-red: #b3373e;

	--color-text: var(--color-gray);

    --font-family-primary: 'Merriweather', serif;
    --font-family-headings: 'Montserrat', sans-serif;

	--font-size-base: 1rem;
	--font-weight-normal: 400;
}