:root {
	--color-black: #000;
    --color-white: #fff;
    --color-gray: #3c3c3c;
    --color-gray-light: #b3b3b3;
    --color-red: #b3373e;

	--color-text: var(--color-gray);

    --font-family-primary: 'Merriweather', serif;
    --font-family-headings: 'Montserrat', sans-serif;

	--font-size-base: 1em;
    --font-size-base-medium: 1.25em;
	--font-weight-normal: 400;

    --container-width: 62.5rem;
}