.header {
    background-image: url('../images/IMG_0116.jpg');
    background-color: #d6d6d6;
    background-blend-mode: multiply;
    background-size: 180% auto;
    background-repeat: no-repeat;
    background-position: left bottom -4rem;
    text-align: center;
    color: var(--color-white);
    padding: 4rem 2rem;
    position: sticky;
    top: 0;
    z-index: -1;
}