.heading {
    font-family: var(--font-family-headings);
    line-height: 1.4;
}

.heading--large {
    font-size: 2.5em;
    text-transform: uppercase;
}

.heading--medium {
    font-size: 1.5em;
    margin-bottom: .65em;
}

.heading--small {
    font-size: 1.25em;
}