body {
    font-family: var(--font-family-primary);
    color: var(--color-text);
}

a {
    color: var(--color-red);
    &:hover,
    &:active {
        text-decoration: underline;
    }
}

p, ul, ol {
    font-size: 0.875em;
    line-height: 2;
    & + p,
    & + ul,
    & + ol {
        margin-top: 1.5em;
    }
}

@media (min-width: 38.75em) {

    body {
        font-size: var(--font-size-base-medium);
    }

}